@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
    url('./fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff');
}

* {
  font-family: "Montserrat", Times, serif;
}

table,
th,
td {
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}

button {
  transition-duration: 0.4s;
  padding: 10px;
  background-color: none;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 1px solid #4CAF50;
  font-family: inherit;
  justify-self: start;
  align-self: start;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

button:active {
  background-color: #0d350f;
  color: white;
  transition-duration: 0.1s;
}

.item_checked {
  text-decoration: line-through;
}

/* Slider */
#slider {
  width: 800px;
  height: 400px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.slider__container {
  position: absolute;
  display: flex;
  height: 100%;
}

.slider__counter {
  position: absolute;
  top: 0;
}

.slider__caption {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider__left-bth {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider__right-bth {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.slider__image {
  object-fit: contain;
}